.home__hero {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../assets/home/hero_background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.home__hero::before {
  content: '';
  background-color: rgba(33, 33, 33, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home__hero .home__info {
  width: 50vw;
  max-width: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
}

.home__hero .home__info h1 {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

.home__hero .home__info h1 span {
  font-weight: 700;
}

.home__hero .home__info .sub__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  padding: 0;
}

.home__hero .home__info .details {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6rem;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0;
}

.home__hero .buttons__grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
  width: 34%;
}

.home__hero .buttons__grp button {
  background: #f15a24;
  width: 260px;
  height: 48px;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.man__and__woman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 3rem 0rem 3rem;
}

.man__and__woman .images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 3rem;
}

.man__and__woman .man,
.man__and__woman .woman {
  width: 45%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.man__and__woman .man {
  background: url(../../assets/home/woman.jpg) no-repeat;
  background-size: cover;
}

.man__and__woman .woman {
  background: url(../../assets/home/guy.jpg) no-repeat;
  background-size: cover;
}

.man__and__woman .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
}

.man__and__woman .btn__container button {
  background: #f15a24;
  width: 50%;
  height: 47px;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}

.home__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.new__arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 2rem 0 7rem 0;
}

.new__arrivals h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 41.09px;
  line-height: 50px;
}

.new__arrivals .products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.new__arrivals .product {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
