@import "../landing/variables";

.home__hero {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../assets/home/hero_background.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background-color: rgba(33, 33, 33, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .home__info {
    width: 50vw;
    max-width: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;

    h1 {
      font-weight: 400;
      font-size: 60px;
      text-align: center;

      span {
        font-weight: 700;
      }
    }

    .sub__heading {
      font-weight: 400;
      font-size: 24px;
      line-height: 29.26px;
      padding: 0;
    }

    .details {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.6rem;
      text-align: center;
      margin-top: 0.5rem;
      padding: 0;
    }
  }

  .buttons__grp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
    width: 34%;

    button {
      background: #f15a24;
      width: 260px;
      //max-width: 50%;
      height: 48px;
      border: none;
      outline: none;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      padding: 0.5rem 2rem;
      cursor: pointer;
    }
  }
}

//***** start man and woman ********
.man__and__woman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem 0rem 3rem;

  .images__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    //border: $border-1;
  }

  .man,
  .woman {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .man {
    background: url(../../assets/home/woman.jpg) no-repeat;
    background-size: cover;
  }

  .woman {
    background: url(../../assets/home/guy.jpg) no-repeat;
    background-size: cover;
  }

  .btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);

    button {
      background: #f15a24;
      width: 50%;
      height: 47px;
      border: none;
      outline: none;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.home__products {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  flex-basis: 350px;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  //border: $border-1;
}

.new__arrivals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0 7rem 0;

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 41.09px;
    line-height: 50px;
  }

  .products__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 273px;
    gap: 4rem;
  }
  //padding: 0 5rem 5rem 5rem;

  .product {
    flex-basis: 20%;
  }
}
