@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.delivery_form_wrapper {
  max-height: 80%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 7rem;
}
.delivery_form_container {
  box-shadow: 0 0 20px rgba(108, 113, 117, 0.2);
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  padding: 1em 0;
}
.delivery_details_form > * {
  margin: 1em 0;
}
.delivery_details_form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  padding: 2em;
  width: 100%;
}

.delivery_details_form input {
  margin-top: 5px;
  padding: 1em 2em;
  border: 1.8px solid #c4c4c4;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}
