@import "../landing/variables";

.addToCartButton {
  border: none;
  width: 100%;
  padding: 0.5rem;
  background: #f15a24;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
  // @include flexCenter;
}
