*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* 
===============
 NAVBAR
===============
 */

.nav__main-container {
  height: 4rem;
  background: #ffffff;
  border: 1px solid red;
}

.nav__section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__mobile-btns {
  display: flex;
  gap: 3vw;
}
.nav__search-btn,
.nav__cart-btn,
.nav__menu-btn {
  cursor: pointer;
  border: transparent;
  background: transparent;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid grey;
  border-radius: 50%;
  border-top-color: #f15a24;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

@media screen and (min-width: 780px) {
  .nav__mobile-btns {
    display: none;
  }
}
